<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <mvc:annotation-driven/> <!-- Annotation 활성화 -->

    <context:component-scan base-package="com.hyundai_mnsoft.vpp">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--<mvc:resources mapping="/resources/**" location="/resources/" />-->

    <context:property-placeholder location="classpath:db.properties"/>
    <!--<context:property-placeholder location="classpath:config.properties"/>-->

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${db.driver}"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.user}"/>
        <property name="password" value="${db.password}"/>
        <property name="validationQuery" value="${db.validation.query}"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean" p:configLocation="/WEB-INF/sql-mapper-config.xml">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:com/hyundai_mnsoft/vpp/**/*.xml" />
    </bean>

    <bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.hyundai_mnsoft.vpp.*"/>
        <property name="annotationClass" value="org.springframework.stereotype.Repository"/>
    </bean>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
        <property name="contentType" value="text/html; charset=UTF-8"/>
    </bean>

    <bean class="org.springframework.remoting.rmi.RmiServiceExporter"
          p:service-ref="rmiService"
          p:serviceName="SERVER"
          p:serviceInterface="com.hyundai_mnsoft.vpp.rmi.DBServiceInterface"
          p:registryPort="30001"/>

    <bean id="rmiService" class="com.hyundai_mnsoft.vpp.tcp.DBServiceImpl"/>

</beans>